html, body, div, span, applet, object, iframe, h1, h2, h3,
			h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
			address, big, cite, code, del, dfn, em, font, img, ins,
			kbd, q, s, samp, small, strike, strong, sub, sup, tt,
			var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td {
			margin: 0;
			padding: 0;
			border: 0;
			outline: 0;
			font-weight: inherit;
			font-style: inherit;
			font-size: 100%;
			font-family: inherit;
			vertical-align: baseline;
}
			:focus { outline: 0;}
			a, a:link, a:visited, a:hover, a:active{text-decoration:none}
			table { border-collapse: separate;border-spacing: 0;}
			th, td {text-align: left; font-weight: normal;}
			img, iframe {border: none; text-decoration:none;}
			ol, ul {list-style: none;}
			input, textarea, select, button {font-size: 100%;font-family: inherit;}
			select {margin: inherit;}
			hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px
}

@font-face {
    font-family: "Helvetica Neue Medium";
    src: url("../fonts/HelveticaNeueRegular.woff") format("woff");
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/helvetica_neue_ce_35_thin-webfont.woff") format("woff");
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/HelveticaNeue-Bold.woff") format("woff");
}
*{
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	margin:0;
	-webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrap{
	width: 1440px;
	margin: auto;
}

#header{
	width: 1440px;
	height: 160px;
	background-color: #fff;
	position: fixed;
	z-index: 11;
}

#logo{
	background-image: url(../images/logo_mm.png);
	background-size: contain;
	width: 230px;
	height: 39px;
	position: relative;
	top: 11px;
	margin: auto;
}

#txt_menu{
	font-family: "Helvetica Neue Medium", arial;
	font-size: 12px;
	color: #1a3897;
	text-transform: uppercase;
	margin-top: 9px;
}

#menu{
	width: 282px;
	height: 66px;
	margin-left: 400px;
	float: right;
	position: relative;
	top: -39px;
}

.cont_icos{
	width: 35px;
	height: 35px;
	float: left;
	margin-top: 7px;
	margin-right: 46px;
}

#ico_coche{
	width: 25px;
	height: 17px;
	margin-left: 3px;
}

#ico_coche img{
	width: 100%;
	height: 100%;
}

#ico_moto{
	width: 27px;
	height: 18px;
	margin-left: -2px;
	margin-top: -1px;
}

#ico_moto img{
	width: 100%;
	height: 100%;
}

#ico_hogar{
	width: 22px;
	height: 20px;
	margin-left: 3px;
	margin-top: -2px;
}

#ico_hogar img{
	width: 100%;
	height: 100%;
}

#cont_ico_vida{
	margin-right: 0;
}

#ico_vida{
	width: 21px;
	height: 17px;
	margin-left: -2px;
}

#ico_vida img{
	width: 100%;
	height: 100%;
}

.menu_p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 9px;
	color: #1a3897;
	margin-top: 4px;
}

#cont_tlf{
	width: 100%;
	height: 94px;
	background-color: #5194d9;
	color: #fff;
	font-size: 33px;
	margin-top: 28px;
}

#cont_telf_width{
	width: 823px;
	margin: auto;
}

#cont_tlf p{
	font-family: "Helvetica Neue Light", arial;
	float: left;
	margin-top: -12px;
}

#cont_tlf p b{
	font-family: "Helvetica Neue Bold", arial;
	margin-left: 22px;
}

#btn_llamar{
	width: 282px;
	height: 51px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background-color: #fff;
	float: left;
	margin-top: -15px;
	margin-left: 36px;
	cursor: pointer;
	transition: all 0.3s ease;
   	-webkit-transition: all 0.3s ease;
   	-moz-transition: all 0.3s ease;
}

#btn_llamar:hover{
	background-color: #1a3897;
}

#btn_llamar p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 20px;
	color: #1a3897;
	line-height: 72px;
	margin-left: 28px;
}

#btn_llamar:hover p{
	color: #fff;
}

#ico_llamada{
	width: 28px;
	height: 27px;
	float: right;
	margin-top: 9px;
	margin-right: 13px;
	position: relative;
}

#ico_llamada img{
	width: 100%;
	height: 100%;
}

#ico_llamada span{
	width: 28px;
	height: 27px;
	float: right;
	position: absolute;
	top: 0px;
	visibility: hidden;
}

#ico_llamada span img{
	width: 100%;
	height: 100%;
}

#btn_llamar:hover #ico_llamada span{
	background-image: url(../images/ico_llamada_blanco.png);
	width: 28px;
	height: 27px;
	visibility: visible;
	left: 0;
}

#body{
	position: relative;
	top: 160px;
}

#cont_coche{
	width: 100%;
	height: 661px;
	background-color: #fff;
	
}

#cont_coche a{
	cursor: pointer;
}

#cont_img_coche{
	width: 1440px;
	height: 328px; 
	cursor: pointer;
}

#img_coche{
	background-image: url(../images/img_ami.jpg);
	width: 100%;
	height: 100%; 
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center center;
    cursor: pointer;
    -webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

#barra_responsive{
	display: none;
}

.barra{
	width: 100%;
	height: 44px;
	background-color: #efefef;
	border-top: 1px solid #1a3897; 
	border-bottom: 1px solid #1a3897; 
	text-align: center;
}

.barra p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 22px;
	color: #1a3897;
	line-height: 44px;
}

.triangulo{
    width: 30px;
    height: 30px;
    position: absolute;
    background: white;
    transform: rotate(45deg);
    left: 50%;
    top: 60%;
    margin: -15px;
    z-index: 10;
}

#oferta_coche{
	width: 570px;
	height: 74px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
 
.texto_coche{
	font-family: "Helvetica Neue Light", arial;
	font-size: 21px;
	color: #1a3897;
	position: relative;
	top: 20px;
	text-align: center;
}

.texto_coche span{
	font-family: "Helvetica Neue Medium", arial;
}

#recuadro_azul{
	width: 240px;
	height: 40px;
	background-color: #1a3897;
	margin: 40px auto;
}

#recuadro_azul p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 20px;
	text-align: center;
	color: #fff;
	line-height: 40px;
}

.btn_calcular{
	width: 262px;
	height: 42px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background: -webkit-linear-gradient(#fc349e 0%, #980d4e 100%);
	background: -o-linear-gradient(#fc349e 0%, #980d4e 100%);
	background: linear-gradient(#fc349e 0%, #980d4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc349e', endColorstr='#980d4e', GradientType=0);
	margin: 20px auto 0 auto;
	
}

.btn_calcular:hover{
	background: -webkit-linear-gradient(#980d4e 0%, #fc349e 100%);
	background: -o-linear-gradient(#980d4e 0%, #fc349e 100%);
	background: linear-gradient(#980d4e 0%, #fc349e 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#980d4e', endColorstr='#fc349e', GradientType=0);
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.btn_calcular p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 13px;
	color: #fff;
	line-height: 42px;
	margin-left: 21px;
}

.ico_coche_blanco{
	width: 21px;
	height: 15px;
	float: right;
    margin-top: -28px;
    margin-right: 17px;
    margin-bottom: 46px;
}

.ico_coche_blanco img{
	width: 100%;
	height: 100%;
}

.ico_moto_blanco{
	width: 23px;
	height: 15.5px;
	float: right;
    margin-top: -28px;
    margin-right: 17px;
    margin-bottom: 46px;
}

.ico_moto_blanco img{
	width: 100%;
	height: 100%;
}

.ico_hogar_blanco{
	width: 19px;
	height: 17.5px;
	float: right;
    margin-top: -28px;
    margin-right: 17px;
    margin-bottom: 46px;
}

.ico_hogar_blanco img{
	width: 100%;
	height: 100%;
}

.ico_vida_blanco{
	width: 19px;
	height: 17.5px;
	float: right;
    margin-top: -28px;
    margin-right: 17px;
    margin-bottom: 46px;
}

.ico_vida_blanco img{
	width: 100%;
	height: 100%;
}

.cont_seguros{
	width: 100%;
	height: 327px;
	position: relative;
}


.cont_img{
	width: 719px;
	height: 283px;
	overflow: hidden;
	float: left;
}

#img_moto{
	background-image: url(../images/img_moto.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

#img_moto:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.cont_oferta{
	width: 721px;
	height: 282px;
	float: right;
}

.oferta_moto{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 72px;
	color: #1a3897;
	text-align: center;
	margin-top: -10px;
}

.oferta_moto span {
	font-size: 42px;
}
 
.texto_moto{
	font-family: "Helvetica Neue Light", arial;
	font-size: 24px;
	text-align: center;
	color: #1a3897;
	margin-top: 16px;
}

.texto_moto span{
	font-family: "Helvetica Neue Medium", arial;
}

#texto_moto{
	margin-top: -10px;
}

.btn_calcular_seguros{
	width: 262px;
	height: 42px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background: -webkit-linear-gradient(#fc349e 0%, #980d4e 100%);
	background: -o-linear-gradient(#fc349e 0%, #980d4e 100%);
	background: linear-gradient(#fc349e 0%, #980d4e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc349e', endColorstr='#980d4e', GradientType=0);
	margin: 5px auto 0 auto;
}

.btn_calcular_seguros:hover{
	background: -webkit-linear-gradient(#980d4e 0%, #fc349e 100%);
	background: -o-linear-gradient(#980d4e 0%, #fc349e 100%);
	background: linear-gradient(#980d4e 0%, #fc349e 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#980d4e', endColorstr='#fc349e', GradientType=0);
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.btn_calcular_seguros p{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 13px;
	color: #fff;
	line-height: 42px;
	margin-left: 21px;
}

#img_hogar{
	background-image: url(../images/img_hogar.jpg);
	width: 719px;
	height: 283px;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

#img_hogar:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.oferta_hogar{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 72px;
	color: #1a3897;
	text-align: center;
	margin-top: 14px;
	margin-bottom: 14px;
}

.oferta_hogar span{
	font-size: 42px;
}
 
.texto_hogar{
	font-family: "Helvetica Neue Light", arial;
	font-size: 24px;
	text-align: center;
	color: #1a3897;
	margin-top: 46px;
}

.texto_hogar span{
	font-family: "Helvetica Neue Medium", arial;
}


#img_vida{
	background-image: url(../images/img_vida.jpg);
	width: 719px;
	height: 284px;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

#img_vida:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.oferta_hogar{
	font-family: "Helvetica Neue Bold", arial;
	font-size: 72px;
	color: #1a3897;
	text-align: center;
	margin-top: -8px;
	margin-bottom: 14px;
}
 
.texto_hogar{
	font-family: "Helvetica Neue Light", arial;
	font-size: 24px;
	text-align: center;
	color: #1a3897;
	margin-top: 46px;
}

.texto_hogar span{
	font-family: "Helvetica Neue Medium", arial;
}

#footer{
	width: 100%;
	height: 60px;
	background-color: #eaf1f6;
	line-height: 60px;
	clear: both;
	text-align: center;
}

#footer p{
	font-family: "Helvetica Neue Light", arial;
	font-size: 14px;
	color: #1a3897;
}

#footer p:nth-child(2){
	display: none;
}

#footer p a{
	font-family: "Helvetica Neue Medium", arial;	
	text-decoration: none;
	font-size: 14px;
	color: #599cdd;
	margin-top: -2px;
}

@media only screen and (min-width: 950px) and (max-width: 1440px){
	#wrap{
		width: 100%;
	}

	#header{
		width: 100%;
	}

	#cont_img_coche{
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
	}

	#img_coche{
		width: 100%;
	}

	.cont_img{
		width: 50%;
	}

	#img_moto{
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
	}

	#img_hogar{
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;

	}

	#img_vida{
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
	}

	.cont_oferta{
		width: 50%;
	}
}


@media only screen and (max-width: 949px){
	#wrap{
		width: 100%;
	}

	#header{
		width: 100%;
		height: 86px;
	}

	#logo{
		width: 330px;
		height: 56px;
		top: 12px;
	}
	
	#txt_menu{
		display: none;
	}

	#menu{
		display: none;
	}

	#cont_tlf{
		height: 172px;
		font-size: 36px;
	}

	#cont_telf_width{
		width: 	552px;
		height: 100%;
		margin: auto;
	}

	#cont_tlf p{
		margin-top: 30px;
	}

	#btn_llamar{
		top: 91px;
		margin-left: auto;
		margin-right: auto;
		float: none;
		position: relative;
	}

	#btn_llamar p{
		margin-top: -88px;
		margin-left: 20px;
	}

	#ico_llamada{
		margin-top: -69px;
	}

	#cont_coche{
		height: 686px;
	}

	.cont_img{
		width: 100%;
		height: 293px;
		margin-bottom: 20px;
	}
	
	#cont_img_coche{
		width: 100%;
		height: 328px;
		margin-top: 37px;
		overflow: hidden;
	}

	#img_coche{
		background-image: url(../images/img_ami_small.jpg);
		width: 100%;
		height: 100%; 
		background-size: cover;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-position: center center;
	}

	#recuadro_azul{
		margin-top: 24px;
	}

	.triangulo{
		display: none;
	}

	#barra_responsive{
		display: block;
	}

	#barra{
		display: none;
	}

	.texto_coche{
		width: 410px;
		font-size: 21px;
		margin: auto;
	}

	#iconos{
		margin-top: 70px;
		margin-bottom: 40px;
	}

	.btn_calcular{
		width: 354px;
		height: 57px;		
		margin: 20px auto 0 auto;
	}

	.btn_calcular p{
		font-size: 18px;
		line-height: 57px;
		margin-left: 28px;
	}

	.ico_coche_blanco{
		width: 26px;
		height: 20px;
		float: right;
	    margin-top: -37px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_moto_blanco{
		width: 28px;
		height: 20.5px;
		float: right;
	    margin-top: -38px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_hogar_blanco{
		width: 24px;
		height: 21.5px;
		float: right;
	    margin-top: -38px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_vida_blanco{
		width: 23px;
		height: 21.5px;
		float: right;
	    margin-top: -38px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

 	#cont_moto{
 		height: 650px;
 	}

	#cont_hogar{
		height: 600px;
	}

	#img_moto{
		width: 100%;
		height: 294px;
		float: none;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
	}

	.cont_oferta{
		width: 100%;
		height: 332px;
		float: none;
	}

	.oferta_moto{
		margin-top: -9px;
	}

	#oferta_vida{
		height: 20px;
	}
	 
	.texto_moto{
		margin-top: 27px;
	}

	#texto_moto{
		margin-top: -10px;
	}

	.btn_calcular_seguros{
		width: 354px;
		height: 57px;		
		margin: 9px auto 0 auto;
	}

	.btn_calcular_seguros p{
		font-size: 18px;
		line-height: 57px;
		margin-left: 28px;
	}

	#img_hogar{
		width: 100%;
		height: 296px;
		float: none;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
	}

	#img_vida{
		width: 100%;
		height: 293px;
		float: none;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
		background-position: center;
    }

    #footer{
    	line-height: 100px;
		height: 100px;
	}

	#footer p{
		font-size: 23px;
		color: #6a6a6a;
	}

	#footer p:nth-child(2){
		margin-top: -30px;
		display: block;
	}

	#footer p:nth-child(2) span{
		font-size: 23px;
		color: #003895;
		font-family: "Helvetica Neue Bold", arial;
	}

	#footer p a{
		font-size: 23px;
	}

	#oferta_vida{
		height: -10px;
	}
}

@media only screen and (max-width: 579px){
	#header{
		width: 100%;
	}
	.triangulo{
		display: none;
	}

	#cont_telf_width{
		text-align: center;
		width: 350px;
		margin: auto;
	}

	#cont_tlf{
		font-size: 21px;
	}

	#cont_tlf p{
		margin-left: 10px;
	}

	#cont_tlf p b{
		margin-left: 11px;

	}
	
	#btn_llamar p{
		margin-top: -68px;
		margin-left: 21px;
	}

	#ico_llamada{
		margin-top: -45px;
	}

	#cont_coche{
		height: 630px;
	}

	#cont_img_coche{
		width: 100%;
		height: 250px;
		margin-top: 37px;
		overflow: hidden;
	}

	#oferta_coche{
		width: 347px;
		height: 140px;
		margin-bottom: 30px;
	}

	#recuadro_azul{
		margin-top: -60px;
	}

	.oferta_3x1{
		float: none;
		font-size: 72px;
		margin-left: 30px;
	}

	#iconos{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.texto_coche{
		width: 350px;
		font-size: 22px;
		margin-top: -10px;
		text-align: center;
	}

	.btn_calcular{
		width: 290px;
		height: 47px;		
		margin: 14px auto 0 auto;
	}

	.btn_calcular p{
		font-size: 14px;
		line-height: 47px;
		margin-left: 18px;
	}

	.ico_coche_blanco{
		width: 22px;
		height: 16px;
		float: right;
	    margin-top: -30px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_moto_blanco{
		width: 24px;
		height: 16.5px;
		float: right;
	    margin-top: -32px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_hogar_blanco{
		width: 20px;
		height: 17.5px;
		float: right;
	    margin-top: -33px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.ico_vida_blanco{
		width: 19px;
		height: 14.5px;
		float: right;
	    margin-top: -32px;
	    margin-right: 17px;
	    margin-bottom: 46px;
	}

	.btn_calcular_seguros{
		width: 290px;
		height: 47px;		
		margin: 14px auto 0 auto;
	}

	.btn_calcular_seguros p{
		font-size: 14px;
		line-height: 47px;
		margin-left: 18px;
	}

	.oferta_moto{
		font-size: 72px;
	}

	.oferta_moto span {
		font-size: 40px;
	}
	 
	.texto_moto{
		font-size: 22px;
	}

	.texto_hogar{
		font-size: 21px;
	}

	#footer p{
		font-size: 14px;
	}

	#footer p a{
		font-size: 14px;
	}
}

@media only screen and (max-width: 420px){

	#header{
		width: 100%;
	}

	#cont_coche{
		height: 559px;
	}

	#cont_img_coche{
		width: 100%;
		height: 200px;
		margin-top: 37px;
		overflow: hidden;
	}

	.texto_coche{
		font-size: 19px;
		margin-top: -17px;	
	}

	#recuadro_azul a{
		margin-top: -80px;
	}
}

@media only screen and (max-width: 340px){
	#header{
		width: 100%;
	}

	#logo{
		top: 14px;
		width: 216px;
		height: 37px;
	}

	#cont_telf_width{
		width: 320px;
	}

	#cont_tlf{
		font-size: 18px;
	}

	#cont_tlf p{
		margin-left: 20px;
	}

	#btn_llamar{
		top: 91px;
		margin-left: 15px;
	}

	#btn_llamar p{
		margin-top: -65px;
		margin-left: 20px;
	}

	#ico_llamada{
		margin-top: -42px;
	}

	#cont_img_coche{
		width: 100%;
		height: 200px;
		margin-top: 18px; 
	}

	.texto_coche{
		width: 300px;
		font-size: 19px;
		margin: auto;	
	}

	#iconos{
		margin-top: 40px;
	}

	#footer{
		height: 57px;
	}

	#footer p{
		line-height: 25px;
	}

	#footer p:nth-child(2){
		margin-top: 0px;
	}

}




